#.env

DB_DIALECT = "mysql"
DB_HOST = "localhost"
DB_PORT = 3306
DB_USERNAME = "root"
DB_PASSWORD = "12345678"
DB_DATABASE = "FintechDB"



JWT_SECRET = "KIKI I LOVE YOU."
JWT_TOKEN_EXPIRY_TIME_SEC = 3600